/*=================== Змінні ======================*/
:root {
   --main-background-color:#1D1E22;
   --accent-color-headr: #B7C1D8;
   --logo-color: #F9F9F9;
}

/*=================== Обнуление стилей ======================*/
h1,
h2,
h3,
h4,
h5,
p {
   margin: 0;
   padding: 0;
}
ul {
   list-style: none;
   padding: 0;
   margin: 0;
}
a {
   text-decoration: none;
   padding: 0;
   margin: 0;
}

img {
   display: block;
   width: auto;
   height: auto;
}
.list {
   padding: 0;
   margin: 0;
   text-decoration: none;
   list-style: none;
}
.link {
   text-decoration: none;
   list-style: none;
}
.body {
   font-family: 'Roboto', sans-serif;
   background-color: var(--main-background-color);
}
.container {
   max-width: 1140px;
   margin-right: auto;
   margin-left: auto;
   padding-left: 15px;
   padding-right: 15px;
}
/*=================== Header ======================*/
.page-header {
   background-color: var(--main-background-color);
}
.header-container {
   display: flex;
}
.logo-text {
   font-family: 'Oswald', sans-serif;
   font-weight: 500;
   font-size: 30px;
   line-height: 1.46;
   color: var(--logo-color);
}
.nav-page {
   display: flex;
   gap: 40px;
}
.nav-link {
   font-size: 18px;
   line-height: 1.22;
   color: var(--accent-color-headr);
}
/*=================== What we do ======================*/
.what {
   background-color: var(--main-background-color);
}
.what__container {
   width: 375px;
   margin: 0 auto;
   padding: 50px 15px; 
}
.what__title {
   margin-bottom: 40px;

   font-family: 'Bebas Neue';
   font-weight: 400;
   font-size: 36px;
   line-height: 100%;
   color:  #D9D9D9;
}
.what__card {
   display: flex;
   flex-wrap: wrap;
   row-gap: 20px;
   column-gap: 20px;
}
.what__list {
   width: 315px;

   padding: 14px;
   text-align: center;

   background-color: #191F2E;
   border-radius: 30px;
}
.what__img {
   width: 290px;
}
.what__subtitle {
   margin: 48px 0px 24px 0px;

   font-family: 'Bebas Neue';
   font-weight: 400;
   font-size: 24px;
   line-height: 125%;
   color: #FFFFFF;


   text-transform: uppercase;
}
.what__text {
   width: 244px;
   margin: 0 auto;

   font-family: 'Inter';
   font-size: 16px;
   line-height: 188%;
   color: #C1C2C6;
}
.what__button {
   margin: 44px 0px 45px 0px;

   font-family: 'Inter';
   font-size: 18px;
   font-weight: 500;
   line-height: 122%;

   color: #FFFFFF;

   padding: 14px 39px;
   background-image: linear-gradient(273.31deg, #7F1CFC 0.79%, #FF1C60 98.6%);
   border: inherit;
   border-radius: 50px;
   cursor: pointer;
}
.button {
   padding: 14px 10px;
}
@media screen and (min-width:376px) {
   .what__container {
      width: 1170px;
      margin: 0 auto;
      padding: 50px 15px; 
   }
   .what__title {
      font-size: 72px;
   }
   .what__list {
      width: 555px;

      padding: 26px;
      text-align: center;

      background-color: #191F2E;
      border-radius: 50px;
   }
   .what__img {
      width: 503px;
   }
   .what__subtitle {
      font-size: 36px;
      line-height: 83%;
   }
   .what__text {
      width: 483px;
   }
   .what__button {
      margin: 74px 0px 45px 0px;
   }
   .what__card {
      row-gap: 30px;
      column-gap: 30px;
   }
}

@font-face {
   font-family: 'BebasNeue400';
   src: url('BebasNeueRegular.woff2') format('woff2'), url('BebasNeueRegular.woff') format('woff');
   font-weight: 400;
   font-style: normal;
}
@font-face {
   font-family: 'BebasNeue700';
   src: url('BebasNeueBold.woff2') format('woff2'), url('BebasNeueBold.woff') format('woff');
   font-weight: 700;
   font-style: normal;
}
@font-face {
   font-family: 'inter700';
   src: url('Inter-Bold.otf') format('otf');
   font-weight: 700;
   font-style: normal;
}
@font-face {
    font-family: 'BebasNeue400';
    src: url('BebasNeueRegular.woff2') format('woff2'), url('BebasNeueRegular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'BebasNeue700';
    src: url('BebasNeueBold.woff2') format('woff2'), url('BebasNeueBold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'inter700';
    src: url('Inter-Bold.otf') format('otf');
    font-weight: 700;
    font-style: normal;
}

/* ===============================Guest================================================ */

.guest_img {
    width: 383px;
}
.header-guest {
    font-family: 'BebasNeue700';
    font-size: 72px;
    letter-spacing: 0.04em;
    line-height: calc(72 / 72);
    color: #FFFFFF;
    margin: 0 0 60px 0;
}
.guest-name {
    font-family: 'inter700';
    font-size: 24px;
    line-height: calc(29 / 24);
    letter-spacing: 0.04em;
    color: #FFFFFF;
    margin-bottom: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.guest-working {
    font-family: 'BebasNeue400';
    font-size: 16px;
    line-height: calc(19 / 16);
    letter-spacing: 0.04em;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.guest-list {
    display: flex;
    gap: 29px;
}
.guest-item {
    background-color: #191F2E;
    border-radius: 30px;
}
.guest {
    padding: 0 120px;
}
.guest-content {
    padding: 43px 0;
}



/* ---------------FOOTHER------------------- */
.foother {
   background-color: #191F2E;
}

.foother-wrapper {
   display: flex;
}

.foother-list {display: flex;}

.foother-link {
   font-family: inherit;
   font-size: 16px;
   font-weight: 400;
   line-height: 1.2; 
   
   color: #FFFFFF;
}

.foot-form-title {
   font-weight: 700;
   font-size: 20px;
   line-height: 1.2;
   letter-spacing: 0.02em;

   color: #FFFFFF;
}

.foot-email-input {
   padding: 11px 14px;
  
   box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
   border-radius: 30px;
   border: none;
   background-color: #FFFFFF;
}

.foot-email-input::placeholder {
   font-weight: 400;
   font-size: 14px;
   line-height: 1.2;

   color: #666666;
}

.foot-email-btn {
   display: block;
   width: 145px;
   padding: 13px 34px;
   font-weight: 500;
   font-size: 16px;
   line-height: 1.2;
   
   border-radius: 50px;
   border: none;
   background: linear-gradient(273.31deg, #7F1CFC 0.79%, #FF1C60 98.6%);
   color: #FFFFFF;
   cursor: pointer;
}

.foot-form-wrapper {
   display: flex;  
   align-items: center;    
}

.foother-info-list {
   display: flex;
   gap: 42px;
}

.foot-info-link { 
   font-weight: 400;
   font-size: 14px;
   line-height: 1.2px;
   color: #FFFFFF;
}

.foot-text-end {
   font-weight: 400;
   font-size: 14px;
   line-height: 1.2;

   color: #FFFFFF;
}

@media screen and (max-width: 767px) {
    .foother-container{
      padding-top: 30px;
      padding-bottom: 30px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }  
 
   .foother-wrapper {  
      flex-direction: column;
      justify-content: center;
   }

   .foother-list {
      flex-direction: column;
      align-items: center;
      gap: 24px;
      margin-bottom: 60px;}

   .foot-logo {
      margin-bottom: 40px;
      text-align: center;
   }

   .foot-form-title{
      text-align: center;
      margin-bottom: 30px;
   }
   .foot-form-wrapper {
      flex-direction: column;
      align-items: center;
      gap: 16px;
      margin-bottom: 50px;   
   }

   .foother-info-list {
      margin-bottom: 40px;
   }
}

@media screen and (min-width: 1140px) {
   .foother { 
      position: relative;
   }

   .foother-container {
      padding-top: 90px;
   }

   .foother-list {
      flex-direction: row;
      gap: 48px;
      margin-right: 236px;
   }
   .foother-item {
      margin-top: 26px;
      margin-bottom: 30px;
   }

   .foot-form-email {
      position: relative;
      bottom: 60px;
   }
   .foot-form-title {
      margin-bottom: 22px;
   }
   .foot-form-wrapper {
      gap: 16px;
   }

   .foot-end-wrapper {
      display: flex;
      position: relative;
      justify-content: space-between;
      padding: 30px 0;
   }

   .line {
      position: absolute;
      bottom: 76px;
      width: 100vw;
      border: 1px solid #0E121B;
   }
}