/*=================== Змінні ======================*/
:root {
  --main-background-color: #1d1e22;
  --secondary-background-color: #191f2e;
  --accent-color-headr: #b7c1d8;
  --logo-color: #f9f9f9;
}

/*=================== Обнуление стилей ======================*/
body {
  font-family: "Bebas Neue", sans-serif;
  font-size: 16px;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
button {
   cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
a {
  text-decoration: none;
  padding: 0;
  margin: 0;
}
/* ================ ОБЩИЕ СТИЛИ====================== */
.button {
  font-family: "Inter";
  font-size: 18px;
  font-weight: 500;
  line-height: 122%;

  color: #ffffff;

  padding: 14px 39px;
  background-image: linear-gradient(273.31deg, #7f1cfc 0.79%, #ff1c60 98.6%);
  border: inherit;
  border-radius: 50px;
  cursor: pointer;
}
/*=================== hero ======================*/
.hero {
  background-color: #1d1e22;
}
.hero__container {
  width: 375px;
  margin: 0 auto;
  padding: 40px 15px;

  text-align: center;
}
.hero__title {
  margin-bottom: 15px;

  font-family: "Bebas Neue";
  font-size: 80px;
  font-weight: 700;
  line-height: 80px;
  color: #e8e9ee;
}
.hero__foto {
  margin-bottom: 48px;
}
.hero__img-rectangle1 {
  display: none;
}
.hero__img-rectangle2 {
  background-image: linear-gradient(
    180deg,
    #6223a2 0%,
    #a141ce 47.4%,
    #ff1c60 100%
  );
  border-radius: 338.5px;
  width: 313px;
  height: 440px;
}
.hero__img-rectangle3 {
  display: none;
}
.hero__img-text {
  background-image: url("../img/hero/allareeco.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 99px;
  width: 299px;
  margin: 0 auto;
  margin-bottom: 8px;
}
.hero__button {
  padding: 14px 46px;
}
@media screen and (min-width: 376px) {
  .hero__container {
    position: relative;

    width: 1170px;
    margin: 0 auto;
    padding: 40px 15px;

    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.hero__container::before {
  content: "";
  position: absolute;
  background-image: linear-gradient(
    180deg,
    rgba(127, 28, 252, 0.2) 0%,
    rgba(89, 220, 220, 0.2) 100%
  );
  filter: blur(100px);
  border-radius: 419.5px;
  width: 445px;
  height: 445px;
  left: -200px;
  top: 5px;
}
.hero__foto {
  display: flex;
  align-items: center;

  position: relative;
  z-index: 20;

  margin-bottom: 25px;
}
.hero__img-rectangle1,
.hero__img-rectangle3 {
  display: block;
  width: 249px;
  height: 351px;
  background-image: linear-gradient(
    180deg,
    #6223a2 0%,
    #a141ce 47.4%,
    #ff1c60 100%
  );
  border-radius: 338.5px;
}
.hero__img-rectangle2 {
  margin: 0px 66px;

  width: 440px;
  height: 619px;
}
.hero__foto::before {
  content: "";
  position: absolute;
  background-image: url("../img/hero/playicon.png");
  width: 118px;
  height: 118px;
  left: 285px;
  bottom: 55px;
}
.hero__img-multi-layered {
  margin-top: -160px;
  text-align: center;
}
.hero__img-text {
  width: 1440px;
  height: 457px;

  background-image: url("../img/hero/allareeco1140.png"),
    url("../img/hero/rectangle8.png"), url("../img/hero/rectangle9.png"),
    url("../img/hero/people.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 557px, 1440px, 1440px, cover;
  margin-bottom: 0px;
}
.hero__bottom-content {
  margin-top: -110px;
}

.img {
  display: block;
  width: auto;
  height: auto;
}
.list {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}
.link {
  text-decoration: none;
  list-style: none;
}
.body {
  font-family: "Roboto", sans-serif;
  background-color: var(--main-background-color);
}
.container {
  width: 1440px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
/*=================== Header ======================*/
.page-header {
  background-color: var(--main-background-color);
}
.header-container {
  display: flex;
}
.logo-text {
  font-family: "Oswald", sans-serif;
  font-weight: 500;
  font-size: 30px;
  line-height: 1.46;
  color: var(--logo-color);
}
.nav-page {
  display: flex;
  gap: 40px;
}
.nav-link {
  font-size: 18px;
  line-height: 1.22;
  color: var(--accent-color-headr);
}
/*=================== What we do ======================*/
.what {
  background-color: var(--main-background-color);
}
.what__container {
  width: 375px;
  margin: 0 auto;
  padding: 50px 15px;
}
.what__title {
  margin-bottom: 40px;

  font-family: "Bebas Neue";
  font-weight: 400;
  font-size: 36px;
  line-height: 100%;
  color: #d9d9d9;
}
.what__card {
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
  column-gap: 20px;
}
.what__list {
  width: 315px;

  padding: 14px;
  text-align: center;

  background-color: #191f2e;
  border-radius: 30px;
}
.what__img {
  width: 290px;
}
.what__subtitle {
  margin: 48px 0px 24px 0px;

  font-family: "Bebas Neue";
  font-weight: 400;
  font-size: 24px;
  line-height: 125%;
  color: #ffffff;

  text-transform: uppercase;
}
.what__text {
  width: 244px;
  margin: 0 auto;

  font-family: "Inter";
  font-size: 16px;
  line-height: 188%;
  color: #c1c2c6;
}
.what__button {
  margin: 44px 0px 45px 0px;
  padding: 14px 10px;
}
@media screen and (min-width: 376px) {
  .what__container {
    width: 1170px;
    margin: 0 auto;
    padding: 50px 15px;
  }
  .what__title {
    font-size: 72px;
  }
  .what__list {
    width: 555px;

    padding: 26px;

    background-color: #191f2e;
    border-radius: 50px;
  }
  .what__img {
    width: 503px;
  }
  .what__subtitle {
    font-size: 36px;
    line-height: 83%;
  }
  .what__text {
    width: 483px;
  }
  .what__button {
    margin: 74px 0px 45px 0px;
  }
  .what__card {
    row-gap: 30px;
    column-gap: 30px;
  }
}

@font-face {
  font-family: "BebasNeue400";
  src: url("BebasNeueRegular.woff2") format("woff2"),
    url("BebasNeueRegular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "BebasNeue700";
  src: url("BebasNeueBold.woff2") format("woff2"),
    url("BebasNeueBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "inter700";
  src: url("Inter-Bold.otf") format("otf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "BebasNeue400";
  src: url("BebasNeueRegular.woff2") format("woff2"),
    url("BebasNeueRegular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "BebasNeue700";
  src: url("BebasNeueBold.woff2") format("woff2"),
    url("BebasNeueBold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "inter700";
  src: url("Inter-Bold.otf") format("otf");
  font-weight: 700;
  font-style: normal;
}

/* ===============================Guest================================================ */

.guest_img {
  width: 383px;
}
.header-guest {
  font-family: "BebasNeue700";
  font-size: 72px;
  letter-spacing: 0.04em;
  line-height: calc(72 / 72);
  color: #ffffff;
  margin: 0 0 60px 0;
}
.guest-name {
  font-family: "inter700";
  font-size: 24px;
  line-height: calc(29 / 24);
  letter-spacing: 0.04em;
  color: #ffffff;
  margin-bottom: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.guest-working {
  font-family: "BebasNeue400";
  font-size: 16px;
  line-height: calc(19 / 16);
  letter-spacing: 0.04em;
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.guest-list {
  display: flex;
  gap: 29px;
}
.guest-item {
  background-color: #191f2e;
  border-radius: 30px;
}
.guest {
  padding: 0 120px;
}
.guest-content {
  padding: 43px 0;
}

/* =====BLOG====== */

.blog .container {
  max-width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 375px) {
  .blog .container {
    width: 345px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1170px) {
  .blog .container {
    width: 1170px;
  }
}
.blog {
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: var(--secondary-background-color);
}
@media screen and (min-width: 1170px) {
  .blog {
    padding-top: 92px;
    padding-bottom: 122px;
  }
}
.blog-title {
  margin-bottom: 40px;

  font-family: "Bebas Neue";
  font-size: 36px;
  line-height: 1;
  text-align: center;
  color: #d9d9d9;
}

@media screen and (min-width: 1170px) {
  .blog-title {
    font-size: 72px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    text-align: start;

    color: #ffffff;
  }
}

.blog-item {
  max-width: 345px;
}
@media screen and (min-width: 1170px) {
  .blog-item {
    max-width: 555px;
  }
}
.blog-item:nth-child(2) {
  display: none;
}
@media screen and (min-width: 1170px) {
  .blog-item:nth-child(2) {
    display: block;
  }
}

.blog-img {
  margin-bottom: 32px;
}

@media screen and (min-width: 1170px) {
  .blog-list {
    display: flex;
    flex-direction: wrap;
    gap: 30px;
  }
}
.blog-show-wrapper {
  display: flex;
  align-items: center;
  padding-left: 23px;

  margin-bottom: 18px;
  /* justify-content: space-evenly; */
}
@media screen and (min-width: 1170px) {
   .blog-show-wrapper {
 
      padding-left: 0px;
    }
 }

.show-type {
  padding: 6px 12px;
  margin-right: 16px;
  font-family: "Inter";
  font-size: 12px;
  line-height: 1.5;
  text-align: center;

  color: #ffffff;
  background: #0e121b;
  box-shadow: 0px 1px 2px rgba(105, 81, 255, 0.05);
  border-radius: 36px;
}

.show-date {
  font-weight: 700;

  line-height: 1;
  color: #dfe5f5;
}

.blog-item-text {
  margin-bottom: 32px;
  font-family: "Inter";
  font-weight: 700;
  font-size: 30px;
  line-height: 1.6;
  text-align: center;

  color: #ffffff;
}
@media screen and (min-width: 1170px) {
   .blog-item-text {
      text-align: start;
   }
 }

.blog-item-button {
  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 17px 22px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Inter";
  font-weight: 500;
  line-height: 1.19;
  text-align: center;

  color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 30px;
  background-color: transparent;
}
@media screen and (min-width: 1170px) {
   .blog-item-button {
      margin: 0;
   }
 }

.blog-button-icon {
  margin-left: 9px;
}
/* =====/BLOG====== */
