@font-face {
    font-family: 'BebasNeue400';
    src: url('BebasNeueRegular.woff2') format('woff2'), url('BebasNeueRegular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'BebasNeue700';
    src: url('BebasNeueBold.woff2') format('woff2'), url('BebasNeueBold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'inter700';
    src: url('Inter-Bold.otf') format('otf');
    font-weight: 700;
    font-style: normal;
}
img {
    display: block;
    width: 100%;
    height: auto;
}
.list {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}
.link {
    text-decoration: none;
    list-style: none;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
/* ===============================Guest================================================ */